<h3>Listing View</h3>
<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Cryptocurrency Name</th>
    <th>Image</th>
    <th>Current Price(USD)</th>
    <th><a href="#">Market Cap (USD)</a></th>
  </tr>
  <tr *ngFor="let crypto of cryptos">
    <td>
      <input type="checkbox" name="selected" [(ngModel)]="crypto.selected" />
    </td>
    <td>
      <a [routerLink]="['pricechart', { id: crypto.id, name: crypto.name }]">
        {{ crypto.name }}
        <span *ngIf="isFavorite(crypto.id)" class="badge badge-success">
          favorite
        </span>
      </a>
    </td>
    <td><img [src]="crypto.image" width="32" /></td>
    <td>{{ crypto.current_price }}</td>
    <td>{{ crypto.market_cap }}</td>
  </tr>
</table>

<div class="clearfix">
  <div class="float-left">
    <a (click)="fetchPreviousPage()" class="text-primary"><< Previous</a>
    <span class="m-2"> | </span>
    <a (click)="fetchNextPage()" class="text-primary">Next >></a>
  </div>

  <div class="float-right">
    <button
      type="button"
      class="btn btn-primary"
      (click)="goToComparePage()"
      [class.invisible]="cryptos && getSelectedCount() != 2"
    >
      Compare
    </button>
    <span class="m-2"></span>
    <button
      type="button"
      class="btn btn-primary"
      (click)="markAsFavorite()"
      [class.invisible]="cryptos && getSelectedCount() == 0"
    >
      Mark as favourite
    </button>
  </div>
</div>
