<table class="table table-bordered">
    <tr>
        <th></th>
        <td>Cryptocurrency Name</td>
        <td>Image</td>
        <td>Current Price</td>
        <td>Market Cap</td>
    </tr>
    <tr *ngFor="let crypto of cryptos">
        <td><input type="checkbox" name="selected"></td>
        <td>{{crypto.name}}</td>
        <td><img [src]="crypto.image" width= "32"></td>
        <td>{{crypto.current_price}}</td>
        <td><a {{crypto.market_cap}}></a></td>
        </tr>
       </table>
<div class="float-left">
<a [routerLink]="['']">Previous</a> &nbsp; &nbsp; &nbsp;
<a [routerLink]="['app-charting']">Next</a>
</div>

<div class="float-right">
<button type="button" class="btn btn-primary" >Mark as favourite</button>&nbsp; &nbsp; &nbsp;
<button type="button" class="btn btn-primary">Compare</button>
</div>
